<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white p-10">
      <a class="inline-block mb-10 text-blue-500 text-xs tracking-tighter" href="/">	&lt; Go back to home</a>
      <h1 class="text-3xl  tracking-tighter"><%= filename %></h1>
      <!-- Use <pre> tag to preserve formatting -->
      <p class="mt-2 text-lg font-light"><%= filedata %></p>
    </div>

    <script src="../public/javascripts/"></script>
</body>
</html>
